.main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
}



form{
    min-width:  300px;
    
    border: 1px solid gray;
    padding: 30px;
   
}

.changepassword{
    display: flex;
    justify-content: space-between;
}

.input1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.data input{
    width: 100%;
    padding: 8px;
    margin-top: 3px;
}

.input2 input{
    margin-bottom: 10px;
}

.changepassword{
    margin: 5px 0;
}
.changepassword p{
    font-weight: 500;
}

.submit button{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}

.head p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.changepassword p{
    color: gray;
    font-size: 14px;
}
label{
    font-size: 14px;
}